# Create Database

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)
cursor = connection.cursor()
create_database_query = f"CREATE DATABASE {'Fake_news_analysis'}"
cursor.execute(create_database_query)

connection.commit()
cursor.close()
connection.close()

# Admin

create admin table

In [1]:
import mysql.connector

def create_admin_table():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="Fake_news_analysis"
    )
    cursor = conn.cursor()

    create_query = """
    CREATE TABLE IF NOT EXISTS Admin (
        Admin_ID INT AUTO_INCREMENT PRIMARY KEY,
        Username VARCHAR(255) UNIQUE NOT NULL,
        Password VARCHAR(255) NOT NULL
    )
    """

    cursor.execute(create_query)
    conn.commit()
    conn.close()

create_admin_table()

insert admin

In [ ]:
import mysql.connector

def insert_admin_data():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="Fake_news_analysis"
    )
    cursor = conn.cursor()

    insert_query = """
    INSERT INTO Admin (Username, Password) VALUES ('Filbert1', '101'), ('Filbert2', '102')
    """

    cursor.execute(insert_query)
    conn.commit()
    conn.close()

insert_admin_data()

# News

Drop table if exists

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="Fake_news_analysis"
)
cursor = conn.cursor()

# Drop table
drop_query = "DROP TABLE IF EXISTS Analysis"
drop_query2 = "DROP TABLE IF EXISTS News"

cursor.execute(drop_query)
cursor.execute(drop_query2)
conn.commit()
conn.close()

create news table

In [ ]:
import mysql.connector

def create_news_table():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="Fake_news_analysis"
    )
    cursor = conn.cursor()

    create_query = """
    CREATE TABLE News (
        News_ID INT AUTO_INCREMENT PRIMARY KEY,
        News_Title VARCHAR(255) NOT NULL,
        News_Text LONGTEXT NOT NULL,
        Date_Added TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
    """

    cursor.execute(create_query)
    conn.commit()
    conn.close()

create_news_table()

insert data from csv to db

In [ ]:
import csv
import mysql.connector

def insert_data_from_csv(csv_file):
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="Fake_news_analysis"
    )
    cursor = conn.cursor()

    insert_query = "INSERT INTO News (News_Title, News_Text) VALUES (%s, %s)"
    with open(csv_file, 'r', encoding='utf-8') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)
        for row in csv_reader:
            title, text = row
            cursor.execute(insert_query, (title, text))

    conn.commit()
    conn.close()

# CSV
# 1- 623 TRUE
# 624-1206 FALSE
csv_files = ['True_Database.csv', 'Fake_Database.csv']

for csv_file in csv_files:
    insert_data_from_csv(csv_file)

# ANALYSIS

create analysis table

In [ ]:
import mysql.connector

def create_analysis_table():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="Fake_news_analysis"
    )
    cursor = conn.cursor()

    create_query = """
    CREATE TABLE IF NOT EXISTS Analysis (
        Analysis_ID INT AUTO_INCREMENT PRIMARY KEY,
        News_ID INT,
        Result ENUM('Fake', 'Real') NOT NULL,
        FOREIGN KEY (News_ID) REFERENCES News(News_ID)
    )
    """

    cursor.execute(create_query)
    conn.commit()
    conn.close()

create_analysis_table()

insert into analysis according to news table

In [ ]:
import mysql.connector

def insert_analysis_results():
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="Fake_news_analysis"
    )
    cursor = conn.cursor()

    insert_query = """
    INSERT INTO Analysis (News_ID, Result)
    SELECT News_ID, 'Real'
    FROM News
    WHERE News_ID BETWEEN 1 AND 623
    """
    insert_query2 = """
    INSERT INTO Analysis (News_ID, Result)
    SELECT News_ID, 'Fake'
    FROM News
    WHERE News_ID BETWEEN 624 AND 1206
    """

    cursor.execute(insert_query)
    cursor.execute(insert_query2)
    conn.commit()
    conn.close()

insert_analysis_results()